<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Simple Home Page</title>
    <link href="static/favicon.ico" rel="icon">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
<div class="container">
    <header>
        <h1>Password Tool</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/check.html">Check</a>
            <a href="/create.html">Create</a>
        </nav>
    </header>

    <main>
        <div class="card">
            <h2>Welcome</h2>
            <p>
                Password Checker / Generator Tool
            </p>
            <a href="/check.html">
                <button>
                    Check Password
                </button>
            </a>
            <a href="/create.html">
                <button>
                    Create Password
                </button>
            </a>
        </div>
    </main>
</div>

</body>
</html>